.search-container {
    float: left;
    border: 1px solid;
}

.content {
    color: white;
    border: 2px solid white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(21, 22, 90);
}

.content p {
    border: 3px solid;
    margin-left: 60px;
    margin-right: 60px;
    padding: 15px;
    text-align: left;
}

.content p:hover {
    color: white;
    background-color: black;
}

.content h3 {
    text-align: center;
    font-size: 24px;
    border: 2px solid white;
    margin-left: 160px;
    margin-right: 160px;
}

.content h3:hover {
    background-color: white;
    color: black;
}

.call p {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black;
    margin: 4px 8px;
    background-color: green;
}

.ghead h4 {
    color: white;
    padding: 24px;
    background-color: rgba(95, 59, 124, 0.288);
    font-size: 28px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.ghead h4:hover {
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}