#ok1 {
    padding: 10px;
    margin-left: 100px;
    background-color: green;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#ok2 {
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1 {
    color: white;
    text-align: center;
    background-color: tomato;
    border: 2px solid;
    margin: 0% 30%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px;
}

.form {
    margin: 5% 20%;
    background-color: rgba(65, 52, 52, 0.979);
    color: white;
    border: 8px solid white;
    padding: 20px;
}

table {
    margin-left: 20%;
}

body {
    margin-left: 10%;
}

#msg {
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: green;
    border: 1px solid white;
}